<% unless @weather.valid? %>
  <% @weather.errors.messages.each do |error,  value| %>
    <%= value.first %><br>
  <% end %>
<% end %>

<h2>Update Weather</h2>
<%= form_for @weather, url: { action: 'update'} do |f| %>
  <%= render partial: 'form', locals: { f: f} %>
<% end %>
<%= link_to 'Back', weather_index_path %>
